<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Taco Cloud</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<h1>Design your taco!</h1>
<img th:src="@{/images/TacoCloud.png}"/>

<form method="POST" th:object="${design}">

    <div th:if="${#fields.hasErrors()}">
    <span class="validationError">
     請更正以下問題，然後重新提交。
    </span>
    </div>

    <div class="grid">
        <div class="ingredient-group" id="wraps">
            <h3>選擇外皮:</h3>
            <div th:each="ingredient : ${wrap}">
                <input name="ingredientList" type="checkbox" th:value="${ingredient.id}">
                <span th:text="${ingredient.name}">INGREDIENT</span><br/>
            </div>
        </div>

        <div class="ingredient-group" id="proteins">
            <h3>選擇肉類 :</h3>
            <div th:each="ingredient : ${protein}">
                <input name="ingredientList" type="checkbox" th:value="${ingredient.id}">
                <span th:text="${ingredient.name}">INGREDIENT</span><br/>
            </div>
        </div>

        <div class="ingredient-group" id="cheeses">
            <h3>選擇起司 :</h3>
            <div th:each="ingredient : ${cheese}">
                <input name="ingredientList" type="checkbox" th:value="${ingredient.id}">
                <span th:text="${ingredient.name}">INGREDIENT</span><br/>
            </div>
        </div>

        <div class="ingredient-group" id="veggies">
            <h3>選擇蔬菜 :</h3>
            <div th:each="ingredient : ${veggies}">
                <input name="ingredientList" type="checkbox" th:value="${ingredient.id}">
                <span th:text="${ingredient.name}">INGREDIENT</span><br/>
            </div>
        </div>

        <div class="ingredient-group" id="sauces">
            <h3>選擇醬料 :</h3>
            <div th:each="ingredient : ${sauce}">
                <input name="ingredientList" type="checkbox" th:value="${ingredient.id}">
                <span th:text="${ingredient.name}">INGREDIENT</span><br/>
            </div>
        </div>
    </div>
    <div>
        <h3>為您的玉米餅取個名字</h3>
        <input type="text" th:field="*{name}">
        <span class="validationError" th:if="${#fields.hasErrors()}"
              th:errors="*{name}"></span>
        <br/>

        <button>確認</button>
    </div>

</form>
</body>
</html>